.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 40px 7%;
}

.hero-review__rating{ 
  color: gold;
}
.hero__title {
  width: 100%;
  max-width: 592px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.04em;

  color: #01005b;
}

.hero__feature {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-top: 15px;
}

.hero__feature p {
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.03em;

  color: #676869;
}

.hero__feature-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #F9F0E5;
}

.hero__feature-icon img {
  width: 24px;
  height: 24px;
}

.hero__content {
  width: 45%;
  flex: 1;
  min-width: 0;
}

.hero__content .customize-button {
  margin-top: 25px;
}

@media (max-width: 920px) {
  .hero {
    flex-direction: column;
    padding: 30px 20px;
  }

  .hero__content {
    display: contents;
  }

  .hero__title {
    order: 1;
    width: 100%;
    max-width: none;
  }

  .image-collage {
    order: 2;
    width: 100%;
  }

  .hero__features {
    order: 3;
  }

  .hero__content .customize-button {
    order: 4;
    width: 332px;
  }
}