.hero-review {
  width: clamp(280px, 32vw, 630px);
  box-sizing: border-box;

  margin-top: 25px;
  padding: 12px 16px;

  border: 1px solid #EDEDED;
  border-radius: 8px;

  font-family: "Poppins", sans-serif;
  color: #676869;
  background-color: white;

  order: 5;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}